.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  &__header {
    padding: 15px;
    min-height: 50px;
    .input-group {
      display: flex;
      flex-direction: column;
    }
    .form-control {
      width: 100%;
      margin-bottom: 10px;
      outline: none;
      &:focus, &:active {
        border: 1px solid #ced4da;
        box-shadow: none;
      }
      &.is-invalid {
        border-color: #dc3545 !important;
      }
    }
  }
  &__content {
    display: flex;
    flex: 1;
    padding: 15px;
  }
  &__sidebar {
    margin-right: 15px;
    width: 25%;
    paddding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }
  &__wrapUsers {
    width: 75%;
    border: 1px solid #eaeaea;
    .usersHeader {
      padding: 10px 15px;
      border-bottom: 1px solid #eaeaea;
      &__title {
        font-weight: bold;
        font-size: 20px;
      }
    }
    .itemUser {
      display: flex;
      align-items: center;
      > div {
        padding: 8px;
        flex: 1;
      }
      &__image {
        flex: inherit !important;
        width: 100px;
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
    .usersList {
      &__head {
        display: flex;
        background: #eaeaea;
        p {
          font-weight: bold;
          font-size: 14px;
          margin: 0;
        }
        > div {
          padding: 8px;
          flex: 1;
        }
        .avatar {
          width: 100px;
          flex: inherit !important;
        }
      }
    }
  }
}
.rowSorting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .btn {
    display: flex;
    align-items: center;
    margin-left: 15px;
    &:first-child {
      margin-left: 0px;
    }
    .btnName {
      margin: 0 0 0 5px;

    }
    &:last-child {
      margin-left: 15px;
    }
  }
}
.activeUser  {
  padding: 10px;
  text-align: center;
  &__image {
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    img {
      max-width: 100%;
      width: 150px;
      height: 150px;
    }
  }
  &__text {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #eaeaea;
  }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.leftCol {
  display: flex;
  align-items:center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}
.nav .item {
  margin-left: 10px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dropdown {
  &__head {
    padding: 15px;
    min-height: 42px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
  }
  &__content {
    padding: 10px;
  }
}