.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  &__header {
    padding: 15px;
    min-height: 50px;
    .form-control {
      outline: none;
      &:focus, &:active {
        border: 1px solid #ced4da;
        box-shadow: none;
      }
    }
  }
  &__content {
    display: flex;
    flex: 1;
    padding: 15px;
  }
  &__sidebar {
    margin-right: 15px;
    width: 25%;
    paddding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }
  &__wrapUsers {
    width: 75%;
    border: 1px solid #eaeaea;
    .usersHeader {
      padding: 10px 15px;
      border-bottom: 1px solid #eaeaea;
      &__title {
        font-weight: bold;
        font-size: 20px;
      }
    }
    .itemUser {
      display: flex;
      > div {
        padding: 8px;
        flex: 1;
      }
    }
    .usersList {
      &__head {
        display: flex;
        background: #eaeaea;
        p {
          font-weight: bold;
          font-size: 14px;
          margin: 0;
        }
        > div {
          padding: 8px;
          flex: 1;
        }
      }
    }
  }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.leftCol {
  display: flex;
  align-items:center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}
.nav .item {
  margin-left: 10px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
